body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,,dd,input{
margin:0;
padding:0;
}
body{
font-size:12px;
}
img{
border:none;
}
li{
list-style:none;
}
input,select,textarea{
outline:none;
}
textarea{
resize:none;
}
a{
text-decoration:none;
}

/*清除浮动*/
.clearfix:after{
content:"";
display:block;
clear:both;
}
.clearfix{
zoom:1;
}

/*选择*/
::selection{
background-color:#669900;
color:#ffffff;
text-shadow:none;
}
::moz-selection{
background-color:#669900;
color:#ffffff;
text-shadow:none;
}

/*去掉a的下划线*/
a{
blr:expression(this,onFocus=this.blur())
}/*if IE*/



html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.main {
  width: 100%;
}

.nav, .header {
  width: 990px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 990px;
  margin-bottom: 70px;
}

/*site-nav的nav部分*/
.nav-left, .nav-right, .nav-shopcart-nav{
  list-style:none;
}

.nav-left .nav-logo,.nav-left .nav-account,.nav-left .nav-msg,
.nav-right .nav-myTao,.nav-right .nav-cart,.nav-right .nav-collection,.nav-right .nav-list,.nav-right .nav-sellCenter,.nav-right .nav-contact,.nav-right .nav-web,.nav-shopcart-nav a{
  text-decoration:none;
  color:#6c6c6c;
}

.nav-left .nav-msg:hover{
	cursor:auto;     
}
.nav-right .nav-myTao:hover,.nav-right .nav-cart:hover,.nav-right .nav-collection:hover,.nav-right .nav-list:hover,.nav-right .nav-sellCenter:hover,.nav-right .nav-contact:hover,.nav-right .nav-web:hover{
  color: #ff3e00;
}
.nav-right .nav-myTao:after,.nav-right .nav-cart:after,.nav-right .nav-collection:after,.nav-right .nav-sellCenter:after,.nav-right .nav-contact:after,.nav-right .nav-web:after{
  content: "";
  border: 4px solid transparent;
  border-top-color: #6c6c6c;
  display: inline-block;
  position: relative;
  margin-left: 4px;
}

.site-nav {
  background: #f5f5f5 scroll no-repeat 0 0;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.nav {
  margin: 0 auto;
  height: 35px;
  line-height: 35px;
}

.nav-left {
  float: left;
}
.nav-left li {
  float: left;
  padding: 0 10px;
}

.nav-left a.nav-logo::before{
	content:url("images/taobao-logo.png");
	margin-left:0;
}
.nav-left a.nav-msg::before {
  content: url("images/msg-red.png");
  margin-right: 4px;
}

.nav-right {
  float: right;
}
.nav-right li {
  float: left;
}

.nav-right a {
  display: block;
  padding: 0 15px;
}

.nav-shopcart-nav {
  display: none;
  padding: 8px 0;
  z-index: 2;    
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  border-top-width: 0;
}

.nav ul li:hover ul{
  display:block;        /*两个display属性让下拉菜单显示和隐藏*/
}

.nav-shopcart-nav a {
  float:none;  /* ul a继承了原本的 float：left，样式会乱，所以需要改变样式;*/
  display: block;
  line-height: 28px;
  padding: 0 12px;
}

.nav-shopcart-nav a:hover {
  color: #6c6c6c;
  background-color: #f5f5f5;
}
.nav-right a.nav-cart::before{
	content:url("images/taobao-cart.png");
	margin-right: 5px;
}
.nav-right a.nav-collection::before {
  content: url("images/star-gray.png");
  margin-right: 5px;
}
.nav-right a.nav-collection:hover::before {
  content: url("images/star-orange.png");
}

/*header部分*/
.header {
  margin: 0 auto;
  height: 35px;
  padding: 20px 0 40px;
}

.header a {
  display: block;
  float: left;
}

.header a::before {
  content: url("images/taobao-icon.png");
}

.header-search {
  float: right;
  position: relative;
}

.header-search .header-search-text {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  height: 35px;
  border: 3px solid #ff5000;
  padding-left: 8px;
  font-size: 1.3em;
}

.header-search .header-search-btn {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
  color: #fff;
  margin-left: -1px;
  width: 90px;
  border: 0;
  background-color: #FF4400;
  font-size: 1.6em;
}

/*content的tbBar部分*/
.tbBar {
  overflow: hidden;
  position: relative;
}
.switch-cart {
  height: 33px;
}

.btn-switch-cart {
  cursor: pointer;
  float: left;
  font-weight: 700;
  height: 18px;
  line-height: 1.1;
  margin-left: -1px;
  padding: 0 0 15px;
  text-align: center;
  list-style: none;
}

.switch-cart-0 {
  padding-left: 15px;
}
.switch-cart-1, .switch-cart-2 {
  padding-left: 25px;
}
.switch-cart-2 {
  cursor: not-allowed;
  padding-right: 25px;
}
.btn-switch-href {
  text-decoration: none;
  color: #FF4400;
}
.btn-switch-href em {
  margin-right: 3px;
  font-size: 16px;
  font-style: normal;
}
.btn-switch-href span.number {
  color: #ff4400;
  font-weight: normal;
  font-size: 12px;
}
.btn-switch-href span.pipe {
  width: 1px;
  height: 12px;
  display: inline-block;
  margin-left: 20px;
  background-color: #e8e8e8;
}

.btn-switch-color {
  color: #3c3c3c;
}
.cart-sum {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  line-height: 25px;
}
.cart-sum .price {
  color: #f40;
  font-weight: 700;
  margin-right: 5px;
}
.cart-sum .total-sum {
  font-size: 14px;
  font-weight: bold;
}

.cart-sum .submit-btn {
  text-decoration: none;
  display: inline-block;
  width: 55px;
  text-align: center;
  color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.btn-common {
  cursor: not-allowed;
  background-color: #aaa;
}
.selected {
  background-color: #f40;
  cursor: pointer;
}
.wrap-line {
  background: #e6e6e6 none no-repeat scroll 0 0;
  height: 2px;
}
.selectColumn{
	border-bottom: 2px solid #f40;
}

/*tbMain部分*/


.th-sel,.th-msg,.th-space,.th-price,.th-amount,.th-sum,.th-operation,
.commodityInfo .td-sel,.commodityInfo .td-item,.commodityInfo .td-info,.commodityInfo .td-price,.commodityInfo .td-amount,.commodityInfo .td-sum,.commodityInfo .td-operation{
  float: left;
}

.tbMain {
  min-height: 210px;
}

.commodityColumn {
  color: #3c3c3c;
  height: 50px;
  padding: 3px 0;
  line-height: 50px;
  overflow: hidden;
}

.th-sel, .commodityInfo .td-sel {
  position: relative;
  height: 50px;
  width: 45px;
}
.selAll {
  position: absolute;
  padding-left: 20px;
  width: 80px;
  cursor: pointer;
}
.selAll input {
  cursor: pointer;
}

.selAll label {
  margin-top: -2px;
  position: absolute;
  margin-left: 6px;
  cursor: pointer;
}

.th-msg, .commodityInfo .td-item {
  width: 302px;
}

.commodityMsg {
  padding-left: 91px;
  margin-top: -3px;
}

.th-space, .commodityInfo .td-info {
  width: 172px;
  padding-right: 20px;
}

.td-inner {
  padding-left: 10px;
  margin-top: -2px;
}
.td-inner input {
  cursor: pointer;
}

.th-price, .th-amount, .commodityInfo .td-price, .commodityInfo .td-amount {
  width: 120px;
}
.th-sum, .commodityInfo .td-sum {
  width: 105px;
}

.th-sum .td-inner, .commodityInfo .td-sum .td-inner {
  padding-left: 0;
}
.th-operation, .commodityInfo .td-operation {
  width: 84px;
  padding-left: 15px;
}

.th-operation .td-inner, .commodityInfo .td-operation .td-inner {
  padding-left: 0;
}
.mainCommodity {
  margin-bottom: 10px;
}

.shopMsg {
  line-height: 38px;
  padding-left: 15px;
  position: relative;
}
.shopMsg .shopMsg-input {
  position: relative;
  top: 2px;
  cursor: pointer;
  left: 5px;
}
.shopMsg label {
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
}
.shopMsg a {
  text-decoration: none;
  color: #3c3c3c;
}
.shopMsg a:hover {
  color: #f40;
  text-decoration: underline;
}

.stock {
  display: none;
}

.outNum {
  margin-top: -1px;
  position: absolute;
  display: none;
  width: 78px;
  padding: 5px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #FFE1D3;
  background-color: #FFF0E7;
  color: #f40;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.outNum em {
  font-style: normal;
}

.commodityInfo .eastpakBag,.commodityInfo .dimansijiafang,.commodityInfo .xinyixincandian,.commodityInfo .zhangjunya {
  display: inline-block; /*图片的位置*/
  float: left;
}

.commodityInfo {
  border: 1px solid #ccc;
  padding: 20px 0;
  margin-bottom:-1px;
  background-color: #FCFCFC;
  height:79px;
}

.commodityInfo .td-sel {
  width: 35px;
  min-height: 79px;
  padding-left: 10px;
}
.commodityInfo .td-item {
  min-height: 79px;
}

.commodityInfo .item-info {
  margin: -3px 0 0 91px;
  padding-right: 15px;
  min-height: 79px;
}

.commodityInfo .item-info a {
  text-decoration: none;
  color: #3c3c3c;
}

.commodityInfo .item-info a:hover {
  color: #f40;
  text-decoration: underline;
}
.commodityInfo .item-other-space {
  min-height: 26px;
  overflow: hidden;
}


.commodityInfo .td-info {
  min-height: 79px;
}

.commodityInfo .td-info-msg {
  min-height: 84px;
  margin: 0 5px 0 15px;
  color: #9c9c9c;
  padding-bottom: 3px;
  margin-top: -2px;
}

.commodityInfo .td-price {
  min-height: 79px;
}

.commodityInfo .td-price .non-discount {
  font-size: 1em;
  color: #9c9c9c;
  text-decoration: line-through;
}

.commodityInfo .td-price .discount {
  font-weight: 600;
  font-size: 1.2em;
}

.commodityInfo .td-price .promotion {
  height: 23px;
  line-height: 23px;
  width: 65px;
  border: 1px solid #FFE1D3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  background-color: #FFF0E7;
  margin-left: -10px;
  padding-right: 17px;
  color: #FF4400;
  font-size: 1.1em;
  padding-left: 3px;
}

.commodityInfo .td-price .promotion:hover .promotionIcon {
  position: absolute;
  margin-top: 5px;
  border-bottom-color: #f40;
}

.commodityInfo .td-price .promotionIcon {
  position: absolute;
  margin-top: 10px;
  border-top-color: #f40;
}

.commodityInfo .proSlidedown {
  width: 200px;
  padding: 10px;
  margin-left: -10px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
  position: absolute;
  -moz-box-shadow: 2px 2px 3px #f4f4f4;
  -webkit-box-shadow: 2px 2px 3px #f4f4f4;
  box-shadow: 2px 2px 3px #f4f4f4;
}

.commodityInfo .proSlidedown p {
  color: #9c9c9c;
}

.commodityInfo .proSlidedown .newPro {
  padding-bottom: 4px;
}

.commodityInfo .
.commodityInfo .td-amount {
  min-height: 79px;
}

.commodityInfo .item-amount {
  height: 25px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.commodityInfo .item-amount span {
  display: inline-block;
  height: 23px;
  line-height: 23px;
  position: absolute;
  top: 0;
  border: 1px solid #e5e5e5;
  width: 17px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 14px;
  color: #444;
}

.commodityInfo .item-amount span:hover {
  border: 1px solid #f60;
  cursor:pointer;
}

.commodityInfo .item-amount .add {
  border-left-color:#aaa;
}

.commodityInfo .item-amount .reduce {
  border-right-color:#aaa;
}

.commodityInfo .item-amount input {
  width: 39px;
  height: 15px;
  padding: 4px 1px;
  line-height: 15px;
  border: 1px solid #aaa;
  color:#343434;
  margin-left: 18px;
  margin-right:-8px;
  text-align: center;
  background-color:#fff;
  z-index:2;
}


.commodityInfo .td-sum {
  min-height: 79px;
  color: #f40;
  font-weight: bold;
}

.commodityInfo .td-sum em {
  font-style: normal;
  font-size: 1.3em;
}

.commodityInfo .td-sum span {
  font-size: 1.2em;
}

.commodityInfo .td-operation {
  min-height: 79px;
}

.commodityInfo .td-operation a {
  color: #3c3c3c;
  text-decoration: none;
  display: inline-block;
  margin-top: 4px;
}

.commodityInfo .td-operation a:hover {
  color: #f40;
  text-decoration: underline;
}
.commodityInfo li{
  list-style: none;
}


/*footer部分*/

.footer {
  width: 990px;
  height: 50px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #E5E5E5;
}

.all-selected {
  cursor: pointer;
  float: left;
  line-height: 50px;
  padding-left: 5px;
  width: 50px;
}

.all-selected input {
  position: relative;
  top: 1px;
  cursor: pointer;
}

.all-selected label {
  display: inline-block;
  cursor: pointer;
}

.operation {
  float: left;
  line-height: 50px;
}

.operation a {
  margin-left: 25px;
  color: #3c3c3c;
  text-decoration: none;
}

.operation a:hover {
  text-decoration: underline;
  color: #f40;
}

.float-bar-right {
  float: right;
  line-height: 50px;
  padding-left: 20px;
}


.amount-sum {
  cursor: pointer;
  float: left;
  padding-right: 20px;
}

.amount-sum em {
  font-style: normal;
  color: #f40;
  font-size: 1.4em;
}

.amount-sum .arrow{
	position:relative;
	top:-3px;
	margin-left:3px;
}
.amount-sum .down{
	position:relative;
	top:3px;
	display:none;
}
.amount-sum .down{
	display:inline;
}
.amount-sum .up{
	display:none;
}

.selected-view{
	width:990px;
	border:1px solid #c8c8c8;
	position:absolute;
	height:auto;
	background:#ffffff;
	z-index:9;
	bottom:48px;
	left:-1px;
	display:none;
}
.selected-view{
	display:block;
}
.selected-view div{
	height:auto;
}
.selected-view .arrow{
	font-size:16px;
	line-height:100%;
	color:#c8c8c8;
	position:absolute;
	right:330px;
	bottom:-9px;
}
.selected-view .arrow span{
	color:#ffffff;
	position:absolute;
	left:0px;
	bottom:1px;
}
#selectedViewList{
	padding:10px 20px 10px 20px;
}
#selectedViewList div{
	display:inline-block;
	position:relative;
	width:100px;
	height:80px;
	border:1px solid #ccc;
	margin:10px;
	float:left;
}
#selectedViewList div img{
	width:100px;
	height:80px;
	margin-right:10px;
	float:left;
}
#selectedViewList div span{
	display:none;
	color:#fff;
	font-size:12px;
	position:absolute;
	top:0px;
	right:0px;
	width:60px;
	height:18px;
	line-height:18px;
	text-align:center;
	background:#000;
	cursor:pointer;
}
#selectedViewList div:hover span{
	display:block;
}
.price-sum {
  float: left;
  line-height: 44px;
  padding-right: 20px;
}

.price-sum .moneySym {
  color: #f40;
}

.price-sum .total-sum {
  font-size: 1.8em;
  font-weight: bold;
  font-style: normal;
  color: #f40;
}

.btn-area {
  float: left;
  line-height: 50px;
}

.btn-area a {
  display: inline-block;
  width: 120px;
  text-align: center;
  font-size: 1.8em;
  font-family: "Lantinghei SC","Microsoft Yahei";
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}
